@font-face{
    font-family: m5x7 ;
    src :url("../fonts/m6x11.ttf") format("ttf") ;

}

@font-face{
    font-family: monogram ;
    src :url("../fonts/monogram_extended.ttf") format("ttf") ;

}
* {
    box-sizing: border-box;
}



html{
    min-height: 100vh ;
    cursor: url("undertal-sans/Sans.cur"),move;
    color: #FFFFFF;
    font-family: m5x7;
}

body{
    margin : 0;
    background: #000000;
}

.title{
    color: #FFFFFF;
    font-family: m5x7;
    font-weight: normal;
    text-align: center;
    font-size: 4em;
}

#log_but
{
    align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto
}
   button {
    padding: 8px 16px;
    border: none;
    background: rgb(0, 0, 0);
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
    font-family: m5x7;
    font-size: 24px;
    align-items: center;
    cursor: url("undertal-sans/hand.cur"),move;
  }

.game_info_container{
    grid-column: 1/-1;
    display:flex;
    justify-content:space-between;
}

.game_info{
    color: #FFFFFF;
    font-family: monogram;
    font-size: 2em;
}

.game_container{
    display: grid;
    grid-template-columns: repeat(4,auto);
     grid-gap :10px;
     margin:50px;
     justify-content:center;
     perspective: 500px;
}

.card{
    position: relative;
    height:155px;
    width: 115px;
    border-radius: 25px;
}

.card:hover{
    cursor:url("undertal-sans/hand.cur"),move;
}

.card_face{
    position: absolute;
    width : 100%;
    height : 100%;
    display: flex;
    justify-content:center;
    align-items:center;
    overflow: hidden;
    backface-visibility: hidden;
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;
    transition: transform 500ms ease-in-out;
}

.card.visible .card_back{
    transform: rotateY(-180deg);
}

.card.visible  .card_front{
    transform: rotateY(0);
}

.card.matched .card_value{
    animation: dance 1s linear infinite 300ms;
}

.overlay-text {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:white;
    font-family: m5x7;
    transition: background-color 500ms, font-size 500ms;
  }
  
  .overlay-text-small {
    font-size: .3em;
  }
  
  .overlay-text.visible {
    display: flex;
    animation: overlay-grow 500ms forwards;
  }



@keyframes dance{
    0%,100% {
        transform: rotate(0);
    }
    25%{
        transform: rotate(-30deg);
    }
    75%{
        transform: rotate(30deg);
    }
}

@keyframes overlay-grow{
    from {
        background-color: rgba(0,0,0,0);
        font-size: 0;
    }
    to {
        background-color:rgba(0, 0, 0, .8);
        font-size: 10em;
    }
}

.card_back{
    background-color: black ;
    border-color: white;
}

.card_front{
    background-color:white;
    border-color:white;
    transform:rotateY(180deg);
    
}

.card_value{
    transform: scale(.9);
    transition: transform 150ms ease-in-out;
}

.card_front:hover .card_value{
    transform: scale(1);
}

.soul{
    position: absolute;
    width: 30px;
    height: 25px;
    transition: width 100ms ease-in-out,height 100ms ease-in-out;
}

.card_face:hover .soul{
    width: 42px;
    height:42px;
}

.soul-top-left{
    transform:rotate(270deg);
    top: 0;
    left: 0;
}

.soul-top-right{
    top:0;
    right: 0;
}

.soul-bottom-left{
    transform:rotate(180deg);
    bottom:0;
    left :0;
}

.soul-bottom-right{
    transform:rotate(90deg);
    bottom:0;
    right:0;
}

.skull{
    align-self: center;
    transform:translateY(-5px);
    transition: transform 150ms ease-in-out;
}

.card_back:hover .skull{
    transform: translateY(0);
}

@media (max-width:600px){
    .game_container{
        grid-template-columns: repeat(2,auto);
    }
    .game_info_container{
        flex-direction: column;
        align-items: center;
    }
}